@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #0B132B; /* azul noche */
  color: #EAE0D5;
  margin: 0;
  min-height: 100vh;
}

/* HEADER */
header {
  background-color: #1C2541; /* azul intermedio */
  color: #EAE0D5;
  text-align: center;
  padding: 1rem 0;
  box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}

h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 2px;
}

nav {
  margin-top: 8px;
}

nav a {
  color: #EAE0D5;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 600;
  border-bottom: 2px solid transparent;
}

nav a:hover,
nav a.activo {
  border-bottom: 2px solid #A97155; /* marrón */
}

/* HERO */
.hero {
  background: linear-gradient(rgba(11, 19, 43, 0.7), rgba(11, 19, 43, 0.7)),
              url('https://images.unsplash.com/photo-1509042239860-f550ce710b93') center/cover no-repeat;
  color: #FAF9F6;
  text-align: center;
  padding: 120px 20px;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.btn {
  background: #A97155; /* marrón café */
  color: #FAF9F6;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}

.btn:hover {
  background: #8b5e46;
}

/* PRODUCTOS */
main {
  padding: 40px 20px;
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #1C2541;
  border-radius: 10px;
  padding: 20px;
  width: 220px;
  color: #FAF9F6;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.card h3 {
  margin: 10px 0;
  color: #A97155;
}

.card p {
  margin: 5px 0;
}

.agotado {
  color: #ff7066;
  font-weight: bold;
}

/* NOVEDADES */
.novedades-lista {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

.novedades-lista article {
  background: #1C2541;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  color: #EAE0D5;
  box-shadow: 0 2px 8px rgba(0,0,0,0.4);
}

.novedades-lista h3 {
  color: #A97155;
}

/* CONTACTO */
.contacto {
  text-align: center;
  padding: 40px 20px;
}

form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: #1C2541;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

input, textarea {
  margin: 10px 0;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-family: inherit;
}

input:focus, textarea:focus {
  outline: 2px solid #A97155;
  background: #FAF9F6;
  color: #0B132B;
}

button {
  background-color: #A97155;
  color: #FAF9F6;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: #8b5e46;
}

/* FOOTER */
footer {
  background-color: #1C2541;
  color: #EAE0D5;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9rem;
  margin-top: 40px;
  border-top: 2px solid #A97155;
}
